footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height:50vh;
    width: 90vw;
    background-color: #28282B;
    .title {
        h1 {
            color: aliceblue;
        }
    }
    @media screen and (min-width:960px){
        justify-content: space-evenly;
        height: 60vh;
    }
    .icons{
        flex-flow: row;
        a {
            color: aliceblue;
            .icon {
            margin: 1rem;
            }
        }
    }
}