.home {
  background-image: url('../bkg-images/beach.webp');
  background-attachment: fixed;
  background-size: cover;
  background-color: #30d5c8;
  background-position: center;
  background-repeat: no-repeat;
}
.home .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home .featured {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
