.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    @media screen and (min-width:960px){
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        height: 90vh;
        background-color: lightgrey;
        .sub-hero {
            background-color: #30d5c8;
            height: 90vh;
            width: 30vw;
            margin-left: 70vw;
        }
    }
    .featured {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;
        padding:2rem 1.5rem;
        img {
            height: auto;
            margin-bottom: 1rem;
            @media screen and (min-width:960px){
            height: auto;
            width: 50vw;
            }
        }
        button {
            border: none;
            border-radius: 10px;
            margin: 1rem;
            padding: 0 1rem;
        }
    }
    .foods-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow:column;
    margin: 3rem auto;
    @media screen and (min-width:960px){
        flex-flow: row wrap ;
    }
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;
        img {
            height: auto;
            width: 50vw;
            border-radius: 100%;
            @media screen and (min-width:960px){
            width: 20vw;
            }
        }
    }
    }
    .hours {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;
        height: 60vh;
    }
    .ingredients{
        img {
            height: auto;
            width: 90vw;
            margin: 1rem;
            @media screen and (min-width:960px){
                width: 50vw;
            }
        }
    }
}
