.home {
  background-image: url('../bkg-images/beach.webp');
  background-attachment: fixed;
  background-size: cover;
  background-color: #30d5c8;
  background-position: center;
  background-repeat: no-repeat;
}
.home .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home .featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 1.5rem;
}
.home .foods-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .new-foods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin: 3rem auto;
}
@media screen and (min-width: 960px) {
  .home .new-foods {
    flex-flow: row wrap ;
  }
}
.home .new-foods .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.home .new-foods .item img {
  width: 50vw;
  border-radius: 100%;
}
@media screen and (min-width: 960px) {
  .home .new-foods .item img {
    width: 20vw;
  }
}
