.home {
    background-image: url('../bkg-images/beach.webp');
    background-attachment: fixed;
    background-size: cover;
    background-color: #30d5c8;
    background-position: center;
    background-repeat: no-repeat;
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 1rem;
        @media screen and (min-width:960px){
            
        }
    }
    .featured {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;
        padding:2rem 1.5rem;
       
    }
    .foods-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new-foods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow:column;
    margin: 3rem auto;
    @media screen and (min-width:960px){
        flex-flow: row wrap ;
    }
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column;
        img {
        width: 50vw;
        border-radius: 100%;
        @media screen and (min-width:960px){
            width: 20vw;
        }
    }
    }
}
}
