.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  width: 100vw;
}
.home .hero {
  width: 95vw;
}
.home .featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem 1.5rem;
}
.home .featured img {
  height: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 960px) {
  .home .featured img {
    height: auto;
    width: 50vw;
  }
}
.home .featured button {
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 0 1rem;
}
.home .foods-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin: 3rem auto;
}
@media screen and (min-width: 960px) {
  .home .gallery {
    flex-flow: row wrap ;
  }
}
.home .gallery .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.home .gallery .item img {
  height: auto;
  width: 50vw;
  border-radius: 100%;
}
@media screen and (min-width: 960px) {
  .home .gallery .item img {
    width: 20vw;
  }
}
.home .hours {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 50vh;
}
.home .hours .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #28282B;
  margin: 2rem;
  height: 30vh;
  width: 65vw;
}
@media screen and (min-width: 960px) {
  .home .hours .text {
    height: 20vh;
    width: 30vw;
  }
}
.home .hours .text h1,
.home .hours .text h2 {
  color: aliceblue;
}
.home .ingredients img {
  height: auto;
  width: 90vw;
  margin: 1rem;
}
@media screen and (min-width: 960px) {
  .home .ingredients img {
    width: 50vw;
  }
}
