nav {
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
@media screen and (min-width: 960px) {
  nav {
    display: flex;
  }
}
nav .link {
  text-decoration: none;
  padding: 1.5rem;
  color: black;
}
.mobile-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
